---
import MySiteLayout from "@/layouts/MySiteLayout.astro";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
---

<MySiteLayout>
    <div class="flex flex-col justify-center gap-10 items-center lg:min-h-[76dvh]">
        <div>
            
        </div>
        <div class="text-8xl special-font-class tracking-widest">
            Oops!
        </div>
        <div class="uppercase text-4xl font-spaceGrotesk">
            404 - Page Not found
        </div>
        <Button>
            <a href="/">Go to Homepage</a>
        </Button>
    </div>
</MySiteLayout>