---
import MySiteLayout from "@/layouts/MySiteLayout.astro";
import "@/styles/globals.css";
---

<MySiteLayout>
  <div
    class="flex flex-col -mt-20 justify-center gap-10 items-center min-h-screen"
  >
    <div></div>
    <div
      class="px-1 text-[2.75rem] md:text-5xl xl:text-7xl font-normal special-font-class"
    >
      Oops!
    </div>
    <div class="uppercase text-3xl lg:text-4xl font-spaceGrotesk text-center">
      404 - Page Not found
    </div>
    <button
      class="bg-black hover:bg-white hover:border-3 border-black text-white hover:text-black rounded-md h-10 border font-spaceGrotesk px-4 py-2"
    >
      <a href="/" class="hover:underline underline-offset-2">Go to Homepage</a>
    </button>
  </div>
</MySiteLayout>

