---

---

<section class="md:px-20 sm:px-10 px-2.5 mt-14">
  <div class="flex flex-row items-center space-x-3 font-spaceGrotesk">
    <div class="w-16 h-2 bg-[#207570]"></div>
    <span>About Us</span>
  </div>
  <h2 class="special-font-class text-3xl lg:text-4xl">What's Byld?</h2>
  <p class="font-spaceGrotesk text-[#207570] mt-6 text-md lg:text-lg md:w-2/3">
    BYLD is the esteemed software development club at IIITD, boasting a legacy
    and rich history. We delve into AI/ML, web development, and app development.
    BYLD serves as a dynamic hub for students passionate about honing their
    programming skills.
  </p>
</section>
