---
const year = new Date().getFullYear();
---

<footer
  id="contact"
  class="flex flex-col space-x-0 lg:space-x-7 space-y-7 py-10 items-center justify-between font-spaceGrotesk md:px-20 sm:px-10 px-2.5 mt-20 bg-black"
>
  <!-- <div class="w-full lg:w-1/2 space-y-1"> -->
  <!--   <!-- <InputForm /> --> -->
  <!-- </div> -->
  <h1 class="text-white special-font-class text-3xl lg:text-4xl">Contact Us</h1>
  <p class="text-[#56ccc4] text-md lg:text-lg">
    Feel free to email us at <a
      class="underline underline-offset-2 font-semibold hover:text-white"
      href="mailto:byld@iiitd.ac.in">byld@iiitd.ac.in</a
    >
  </p>
  <div class="flex flex-row items-center space-x-7 lg:space-x-9">
    <a
      href="https://github.com/byld-iiitd"
      target="_blank"
      class="lg:hover:scale-110 transition ease-out duration-75"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 60 60"
          fill="none"
        >
          <g clip-path="url(#clip0_2_24)">
            <path
              d="M48.8227 17.7375C49.3958 15.8887 49.5796 13.9413 49.3626 12.0179C49.1456 10.0946 48.5324 8.23707 47.5617 6.5625C47.3971 6.2774 47.1604 6.04067 46.8752 5.8761C46.5901 5.71153 46.2667 5.62493 45.9375 5.625C43.7536 5.62043 41.5988 6.12671 39.6455 7.1034C37.6921 8.08009 35.9942 9.50011 34.6875 11.25H29.0625C27.7558 9.50011 26.0579 8.08009 24.1045 7.1034C22.1512 6.12671 19.9964 5.62043 17.8125 5.625C17.4833 5.62493 17.1599 5.71153 16.8748 5.8761C16.5896 6.04067 16.3529 6.2774 16.1883 6.5625C15.2176 8.23707 14.6044 10.0946 14.3874 12.0179C14.1704 13.9413 14.3542 15.8887 14.9273 17.7375C13.7689 19.7595 13.1483 22.0448 13.125 24.375V26.25C13.1289 29.4225 14.2806 32.4865 16.3674 34.8761C18.4542 37.2657 21.3351 38.8196 24.4781 39.2508C23.1952 40.8925 22.4988 42.9165 22.5 45V46.875H16.875C15.3832 46.875 13.9524 46.2824 12.8975 45.2275C11.8426 44.1726 11.25 42.7418 11.25 41.25C11.25 40.0189 11.0075 38.7998 10.5364 37.6623C10.0652 36.5249 9.37468 35.4914 8.50413 34.6209C7.63358 33.7503 6.60008 33.0598 5.46266 32.5886C4.32523 32.1175 3.10614 31.875 1.875 31.875C1.37772 31.875 0.900806 32.0725 0.549175 32.4242C0.197544 32.7758 0 33.2527 0 33.75C0 34.2473 0.197544 34.7242 0.549175 35.0758C0.900806 35.4275 1.37772 35.625 1.875 35.625C3.36684 35.625 4.79758 36.2176 5.85248 37.2725C6.90737 38.3274 7.5 39.7582 7.5 41.25C7.5 43.7364 8.48772 46.121 10.2459 47.8791C12.004 49.6373 14.3886 50.625 16.875 50.625H22.5V54.375C22.5 54.8723 22.6975 55.3492 23.0492 55.7008C23.4008 56.0525 23.8777 56.25 24.375 56.25C24.8723 56.25 25.3492 56.0525 25.7008 55.7008C26.0525 55.3492 26.25 54.8723 26.25 54.375V45C26.25 43.5082 26.8426 42.0774 27.8975 41.0225C28.9524 39.9676 30.3832 39.375 31.875 39.375C33.3668 39.375 34.7976 39.9676 35.8525 41.0225C36.9074 42.0774 37.5 43.5082 37.5 45V54.375C37.5 54.8723 37.6975 55.3492 38.0492 55.7008C38.4008 56.0525 38.8777 56.25 39.375 56.25C39.8723 56.25 40.3492 56.0525 40.7008 55.7008C41.0525 55.3492 41.25 54.8723 41.25 54.375V45C41.2512 42.9165 40.5548 40.8925 39.2719 39.2508C42.4149 38.8196 45.2958 37.2657 47.3826 34.8761C49.4694 32.4865 50.6211 29.4225 50.625 26.25V24.375C50.6017 22.0448 49.9811 19.7595 48.8227 17.7375ZM46.875 26.25C46.875 28.7364 45.8873 31.121 44.1291 32.8791C42.371 34.6373 39.9864 35.625 37.5 35.625H26.25C23.7636 35.625 21.379 34.6373 19.6209 32.8791C17.8627 31.121 16.875 28.7364 16.875 26.25V24.375C16.898 22.5001 17.4593 20.6712 18.4922 19.1062C18.6847 18.8525 18.8094 18.5538 18.8545 18.2385C18.8996 17.9231 18.8637 17.6015 18.75 17.3039C18.2616 16.0444 18.0266 14.7008 18.0583 13.3503C18.0901 11.9998 18.3881 10.6688 18.9352 9.43359C20.4696 9.59867 21.9473 10.107 23.2586 10.9209C24.5699 11.7348 25.6812 12.8333 26.5102 14.1352C26.6791 14.3993 26.9115 14.6169 27.1863 14.768C27.461 14.9191 27.7693 14.9988 28.0828 15H35.6648C35.9796 15 36.2892 14.9208 36.5653 14.7697C36.8414 14.6185 37.075 14.4003 37.2445 14.1352C38.0733 12.8332 39.1846 11.7345 40.4959 10.9207C41.8073 10.1068 43.285 9.5985 44.8195 9.43359C45.3659 10.6691 45.663 12.0002 45.694 13.3508C45.725 14.7013 45.4891 16.0447 45 17.3039C44.8867 17.5986 44.8488 17.917 44.8897 18.2301C44.9306 18.5432 45.0491 18.8412 45.2344 19.0969C46.2775 20.6619 46.8471 22.4945 46.875 24.375V26.25Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_2_24">
              <rect width="60" height="60" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </a>
    <a
      href="https://www.linkedin.com/company/byld-iiitd/"
      target="_blank"
      class="lg:hover:scale-110 transition ease-out duration-75"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 60 60"
          fill="none"
        >
          <path
            d="M50.625 5.625H9.375C8.38044 5.625 7.42661 6.02009 6.72335 6.72335C6.02009 7.42661 5.625 8.38044 5.625 9.375V50.625C5.625 51.6196 6.02009 52.5734 6.72335 53.2766C7.42661 53.9799 8.38044 54.375 9.375 54.375H50.625C51.6196 54.375 52.5734 53.9799 53.2766 53.2766C53.9799 52.5734 54.375 51.6196 54.375 50.625V9.375C54.375 8.38044 53.9799 7.42661 53.2766 6.72335C52.5734 6.02009 51.6196 5.625 50.625 5.625ZM50.625 50.625H9.375V9.375H50.625V50.625ZM22.5 26.25V41.25C22.5 41.7473 22.3025 42.2242 21.9508 42.5758C21.5992 42.9275 21.1223 43.125 20.625 43.125C20.1277 43.125 19.6508 42.9275 19.2992 42.5758C18.9475 42.2242 18.75 41.7473 18.75 41.25V26.25C18.75 25.7527 18.9475 25.2758 19.2992 24.9242C19.6508 24.5725 20.1277 24.375 20.625 24.375C21.1223 24.375 21.5992 24.5725 21.9508 24.9242C22.3025 25.2758 22.5 25.7527 22.5 26.25ZM43.125 32.8125V41.25C43.125 41.7473 42.9275 42.2242 42.5758 42.5758C42.2242 42.9275 41.7473 43.125 41.25 43.125C40.7527 43.125 40.2758 42.9275 39.9242 42.5758C39.5725 42.2242 39.375 41.7473 39.375 41.25V32.8125C39.375 31.5693 38.8811 30.377 38.0021 29.4979C37.123 28.6189 35.9307 28.125 34.6875 28.125C33.4443 28.125 32.252 28.6189 31.3729 29.4979C30.4939 30.377 30 31.5693 30 32.8125V41.25C30 41.7473 29.8025 42.2242 29.4508 42.5758C29.0992 42.9275 28.6223 43.125 28.125 43.125C27.6277 43.125 27.1508 42.9275 26.7992 42.5758C26.4475 42.2242 26.25 41.7473 26.25 41.25V26.25C26.2523 25.7907 26.4231 25.3483 26.73 25.0066C27.0369 24.6649 27.4586 24.4477 27.9149 24.3963C28.3713 24.3449 28.8307 24.4627 29.206 24.7275C29.5812 24.9923 29.8463 25.3856 29.9508 25.8328C31.2192 24.9724 32.698 24.4737 34.2285 24.3903C35.7589 24.3069 37.2832 24.642 38.6376 25.3595C39.9919 26.0771 41.1253 27.15 41.9159 28.4631C42.7065 29.7761 43.1245 31.2798 43.125 32.8125ZM23.4375 19.6875C23.4375 20.2438 23.2726 20.7875 22.9635 21.25C22.6545 21.7126 22.2152 22.073 21.7013 22.2859C21.1874 22.4988 20.6219 22.5545 20.0763 22.446C19.5307 22.3374 19.0296 22.0696 18.6363 21.6762C18.2429 21.2829 17.9751 20.7818 17.8665 20.2362C17.758 19.6906 17.8137 19.1251 18.0266 18.6112C18.2395 18.0973 18.5999 17.658 19.0625 17.349C19.525 17.0399 20.0687 16.875 20.625 16.875C21.3709 16.875 22.0863 17.1713 22.6137 17.6988C23.1412 18.2262 23.4375 18.9416 23.4375 19.6875Z"
            fill="white"></path>
        </svg>
      </div>
    </a>
    <a
      href="https://www.instagram.com/byld.iiitd/"
      target="_blank"
      class="lg:hover:scale-110 transition ease-out duration-75"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 60 60"
          fill="none"
        >
          <path
            d="M30 18.75C27.775 18.75 25.5999 19.4098 23.7498 20.646C21.8998 21.8821 20.4578 23.6391 19.6064 25.6948C18.7549 27.7505 18.5321 30.0125 18.9662 32.1948C19.4003 34.3771 20.4717 36.3816 22.045 37.955C23.6184 39.5283 25.6229 40.5998 27.8052 41.0338C29.9875 41.4679 32.2495 41.2451 34.3052 40.3936C36.3609 39.5422 38.1179 38.1002 39.354 36.2502C40.5902 34.4001 41.25 32.225 41.25 30C41.2469 27.0173 40.0606 24.1576 37.9515 22.0485C35.8424 19.9394 32.9827 18.7531 30 18.75ZM30 37.5C28.5166 37.5 27.0666 37.0601 25.8332 36.236C24.5999 35.4119 23.6386 34.2406 23.0709 32.8701C22.5032 31.4997 22.3547 29.9917 22.6441 28.5368C22.9335 27.082 23.6478 25.7456 24.6967 24.6967C25.7456 23.6478 27.082 22.9335 28.5368 22.6441C29.9917 22.3547 31.4997 22.5032 32.8701 23.0709C34.2406 23.6386 35.4119 24.5999 36.236 25.8332C37.0601 27.0666 37.5 28.5166 37.5 30C37.5 31.9891 36.7098 33.8968 35.3033 35.3033C33.8968 36.7098 31.9891 37.5 30 37.5ZM41.25 5.625H18.75C15.2702 5.62872 11.9339 7.01273 9.47334 9.47334C7.01273 11.9339 5.62872 15.2702 5.625 18.75V41.25C5.62872 44.7298 7.01273 48.0661 9.47334 50.5267C11.9339 52.9873 15.2702 54.3713 18.75 54.375H41.25C44.7298 54.3713 48.0661 52.9873 50.5267 50.5267C52.9873 48.0661 54.3713 44.7298 54.375 41.25V18.75C54.3713 15.2702 52.9873 11.9339 50.5267 9.47334C48.0661 7.01273 44.7298 5.62872 41.25 5.625ZM50.625 41.25C50.625 43.7364 49.6373 46.121 47.8791 47.8791C46.121 49.6373 43.7364 50.625 41.25 50.625H18.75C16.2636 50.625 13.879 49.6373 12.1209 47.8791C10.3627 46.121 9.375 43.7364 9.375 41.25V18.75C9.375 16.2636 10.3627 13.879 12.1209 12.1209C13.879 10.3627 16.2636 9.375 18.75 9.375H41.25C43.7364 9.375 46.121 10.3627 47.8791 12.1209C49.6373 13.879 50.625 16.2636 50.625 18.75V41.25ZM45 17.8125C45 18.3688 44.835 18.9125 44.526 19.375C44.217 19.8376 43.7777 20.198 43.2638 20.4109C42.7499 20.6238 42.1844 20.6795 41.6388 20.571C41.0932 20.4624 40.5921 20.1946 40.1988 19.8012C39.8054 19.4079 39.5376 18.9068 39.429 18.3612C39.3205 17.8156 39.3762 17.2501 39.5891 16.7362C39.802 16.2223 40.1624 15.783 40.625 15.474C41.0875 15.1649 41.6312 15 42.1875 15C42.9334 15 43.6488 15.2963 44.1762 15.8238C44.7037 16.3512 45 17.0666 45 17.8125Z"
            fill="white"></path>
        </svg>
      </div>
    </a>
    <a
      href="mailto:byld@iiitd.ac.in"
      target="_blank"
      class="lg:hover:scale-110 transition ease-out duration-75"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 60 60"
          fill="none"
        >
          <path
            d="M52.5 11.25H7.5C7.00272 11.25 6.52581 11.4475 6.17417 11.7992C5.82254 12.1508 5.625 12.6277 5.625 13.125V45C5.625 45.9946 6.02009 46.9484 6.72335 47.6516C7.42661 48.3549 8.38044 48.75 9.375 48.75H50.625C51.6196 48.75 52.5734 48.3549 53.2766 47.6516C53.9799 46.9484 54.375 45.9946 54.375 45V13.125C54.375 12.6277 54.1775 12.1508 53.8258 11.7992C53.4742 11.4475 52.9973 11.25 52.5 11.25ZM30 31.207L12.3211 15H47.6789L30 31.207ZM23.1352 30L9.375 42.6117V17.3883L23.1352 30ZM25.9102 32.543L28.7227 35.1328C29.0686 35.4504 29.5211 35.6266 29.9906 35.6266C30.4602 35.6266 30.9127 35.4504 31.2586 35.1328L34.0711 32.543L47.6648 45H12.3211L25.9102 32.543ZM36.8648 30L50.625 17.3859V42.6141L36.8648 30Z"
            fill="white"></path>
        </svg>
      </div>
    </a>
    <a
      href="https://discord.com/invite/ugzwt2mK"
      target="_blank"
      class="lg:hover:scale-110 transition ease-out duration-75"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="white"
          viewBox="0 0 256 256"
          ><path
            d="M104,140a12,12,0,1,1-12-12A12,12,0,0,1,104,140Zm60-12a12,12,0,1,0,12,12A12,12,0,0,0,164,128Zm74.45,64.9-67,29.71a16.17,16.17,0,0,1-21.71-9.1l-8.11-22q-6.72.45-13.63.46t-13.63-.46l-8.11,22a16.18,16.18,0,0,1-21.71,9.1l-67-29.71a15.93,15.93,0,0,1-9.06-18.51L38,58A16.07,16.07,0,0,1,51,46.14l36.06-5.93a16.22,16.22,0,0,1,18.26,11.88l3.26,12.84Q118.11,64,128,64t19.4.93l3.26-12.84a16.21,16.21,0,0,1,18.26-11.88L205,46.14A16.07,16.07,0,0,1,218,58l29.53,116.38A15.93,15.93,0,0,1,238.45,192.9ZM232,178.28,202.47,62s0,0-.08,0L166.33,56a.17.17,0,0,0-.17,0l-2.83,11.14c5,.94,10,2.06,14.83,3.42A8,8,0,0,1,176,86.31a8.09,8.09,0,0,1-2.16-.3A172.25,172.25,0,0,0,128,80a172.25,172.25,0,0,0-45.84,6,8,8,0,1,1-4.32-15.4c4.82-1.36,9.78-2.48,14.82-3.42L89.83,56s0,0-.12,0h0L53.61,61.93a.17.17,0,0,0-.09,0L24,178.33,91,208a.23.23,0,0,0,.22,0L98,189.72a173.2,173.2,0,0,1-20.14-4.32A8,8,0,0,1,82.16,170,171.85,171.85,0,0,0,128,176a171.85,171.85,0,0,0,45.84-6,8,8,0,0,1,4.32,15.41A173.2,173.2,0,0,1,158,189.72L164.75,208a.22.22,0,0,0,.21,0Z"
          ></path></svg
        >
      </div>
    </a>
  </div>
  <p class="text-xs lg:text-sm text-gray-400">
    Copyright © {year} | Made with 💖 by The BYLD Website Team
  </p>
</footer>
