---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.tsx";

import byldLogo from "@/assets/logo2.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BYLD | IIITD</title>
    <link rel="icon" href={byldLogo.src} />
    <meta
      name="description"
      content="BYLD is the esteemed software development club at IIITD, boasting a legacy and rich history."
    />
  </head>
  <body>
    <div>
      <Navbar client:idle />
      <slot />
      <Footer />
    </div>
  </body>
</html>
